- title "Search Options"
- caption :title
- sidebar :i
%h2 search options
%table
  %tr
    %th example
    %th finds tweets...
  %tr
    %td aclog search
    %td (containing "aclog") and (containing "search")
  %tr
    %td "happy hour"
    %td (containing "happy hour")
  %tr
    %td love OR hate
    %td (containing "aclog") or (containing "search")
  %tr
    %td beer -root
    %td (containing "beer") and (not (containing "root"))
  %tr
    %td user:cn
    %td (sent from the user @cn)
  %tr
    %td source:"Tweet Button"
    %td (sent from the client "Tweet Button")
  %tr
    %td fav:30
    %td (favorited 30 times and more)
  %tr
    %td rt:30
    %td (retweeted 30 times and more)
  %tr
    %td since:20130401 until:20130531
    %td (sent between 2013-04-01 and 2013-05-31)
  %tr
    %td aclog fav:10 OR rt:5
    %td (containing "aclog") and ((favorited 10 times and more) or (retweeted 5 times and more))
  %tr
    %td (aclog -fav:10) OR rt:5
    %td ((containing "aclog") and (not (favorited 10 times and more))) or (retweeted 5 times and more)

