%h1 aclog について
%p
  = link_to "@re4k", "https://twitter.com/re4k"
  が Favstar BAN されたので仕方なく代わりを作りました。
%p
  そーすはこっち
  = link_to "GitHub", "https://github.com/re4k/aclog"
%p
  このページ作ったはいいけど書くことがない…
  トップページ見てくださいな
%p
  = link_to "トップページ", :root
