%p
  = link_to "@re4k", "https://twitter.com/re4k"
  が Favstar BAN されたので仕方なく代わりを作りました。
%p
  そーすはこっち
  = link_to "GitHub", "https://github.com/re4k/aclog"
%p
  使用しているもの
  %ul
    %li
      読み込み中アニメーションGIF
      %span= link_to "http://www.ajaxload.info/", "http://www.ajaxload.info/"
%p
  このページ作ったはいいけど書くことがない…
  トップページ見てくださいな
%p
  = link_to "トップページ", :root
