%h1 aclog
.lead
  Favstar クローン
%p
  UserStreams で登録ユーザーのふぁぼり・ふぁぼられ・RTを集めて表示するサービスです。あんふぁぼも反映されます。
%p
  Favstar を参考に開発しています。現時点でトロフィー以外の機能はすべて使えるはずです。
%p
  API も提供する予定です。about → api を見てください（まだ開発中であり、変更がある可能性もあります）
%h4
  今後の予定(2013/04/03)
%ul
  %li トロフィー機能を付ける予定はありません
  %li ふぁぼったー・Favstar からのデータの取り込み
  %li パクリツイート対策
  %li ふぁぼ爆撃対策
%p
  = link_to "ツイート", "https://twitter.com/share", :class => "twitter-share-button", :"data-text" => "aclog", :"data-count" => "none", :"data-url" => "http://aclog.koba789.com/"
%hr
%h5
  連絡先
%dl
  %dt Twitter
  %dd= link_to "@cn", "https://twitter.com/cn"
  %dt メール(あんまり見ていません)
  %dd= link_to "contact@re4k.info", "mailto:contact@re4k.info"

