%h1 aclog
%p
  UserStreams で登録ユーザーのふぁぼり・ふぁぼられ・RTを集めて表示するサービスです。
%p
  API も提供する予定です。about → api を見てください（まだ開発中であり、変更がある可能性もあります）
%h4
  今後の予定(2013/05/04)
%ul
  %li 通知を細かく設定できるように
  %li ふぁぼったー・Favstar からのデータの取り込み
%p
  = link_to "ツイート", "https://twitter.com/share", class: "twitter-share-button", data: {text: "ふぁぼられ収集サービス aclog", count: "none", url: "http://aclog.koba789.com"}
%hr
%h5
  連絡先
%dl
  %dt Twitter
  %dd= link_to "@cn", "https://twitter.com/cn"
  %dt メール(あんまり見ていません)
  %dd= mail_to "contact@re4k.info"

