- counts.each_slice(2).to_a.transpose.each do |ns|
  .list-group-col
    - ns.each do |n|
      - if n.to_s == (params[param] || default).to_s
        = link_to n, params, class: "list-group-item active"
      - else
        = link_to n, params.merge(param => (n == default ? nil : n)), class: "list-group-item"
