/* ================ Icon ================ */

@font-face {
    font-family: 'aclog';
    src: url('/assets/aclog.eot?ypfutt');
    src: url('/assets/aclog.eot?#iefixypfutt') format('embedded-opentype'),
         url('/assets/aclog.woff?ypfutt') format('woff'),
         url('/assets/aclog.ttf?ypfutt') format('truetype'),
         url('/assets/aclog.svg?ypfutt#aclog') format('svg');
    font-weight: normal;
    font-style: normal;
}

.aclogicon {
    font-family: 'aclog';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aclogicon-reply:before {
    content: "\e600";
}
.aclogicon-retweet:before {
    content: "\e601";
}
.aclogicon-fav:before {
    content: "\e602";
}
.aclogicon-twitter:before {
    content: "\e603";
}
.aclogicon-github:before {
    content: "\e604";
}
