/vendor/bundle
/vendor/assets/bower_components
/log/*.log
/tmp
/spec/tmp
/coverage
/public/assets

/config/settings.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/config/secrets.yml
/config/database.yml

/worker_node/settings.yml

.*
*~
!.gitignore
!.gitkeep
!/.coveralls.yml
!/.travis.yml
!/.rspec
