# Common
**.orig

# Linux
.*
!.gitignore
*~

# SASS
*.sass-cache
*.sassc

# Rails
*.rbc
/vendor/bundle
/log/*
/tmp/*
/spec/tmp/*

/config/settings.yml
/config/settings/*.local.yml
/config/environments/*.local.yml
/config/initializers/secret_token.rb

# local scripts
/client/worker.sh
/client/Procfile
/client/settings.yml
/server.sh

