%strong (´へεへ`*) ＜ トップページだよ〜〜
%strong まだ開発途中段階のものであり、いつデータベースをクリアするかわかりませんがとりあえず動いています。ワーカープロセスが1つしかないため、登録後接続まで最大30分かかります。
%strong 動作のテスト中ですので、途中で登録をうちきったりあまりにふぁぼられ・ふぁぼりが多いユーザーの登録を削除する可能性もあります。
%strong 学校の方のテスト期間中なんで1週間くらい放置します_(:3 」∠ )_
%div
  URLとかについて
  %div
    best: /re4k/
  %div
    recent: /re4k/recent
%div
  = link_to "@re4k", "https://twitter.com/re4k"

