.sidebar
  = render partial: "shared/sidebar/parts/user_stats", locals: { user: user }
  .sidebar-list.row
    .list-group.col-xs-6.col-sm-12
      = render partial: "shared/sidebar/parts/user_menu_items", locals: { user: user }
    .list-group.col-xs-6.col-sm-12
      = render partial: "shared/sidebar/parts/thresholds", locals: thresholds
