- register_view_part :sidebar_user_stats
%p<
  = profile_image_tag @user, :original, class: "img-rounded", width: 64, height: 64
%p= "@" + @user.screen_name
%p<
  %a.aclogicon.aclogicon-twitter{href: @user.twitter_url}
.user-stats
  %template{data: {"v-if" => "stats"}}
    %template{data: {"v-if" => "stats.registered"}}
      %ul.records
        %li<
          %span> Received
          %span.data {{stats.reactions_count}}
        %li<
          %span> Average
          %span.data {{average}}
        %li<
          %span> Joined
          %span.data>
            {{stats.since_join}}
            %span> d ago
    %template{data: {"v-if" => "!stats.registered"}}
      .alert.alert-aclog @{{screen_name}} は aclog に登録していません
  .loading-box{data: {"v-if" => "loading"}}
    %img.loading-image{src: image_path("loading.gif")}
