.status-responses
  - if tweet.favorites_count > 0
    %dl
      %dt
        %a.expand-responses-button{href: "javascript:void(0)", title: "すべて見る", data: { type: "favorites", id: tweet.id }}<
          %span>= tweet.favorites_count
          Favs
      %dd
        %ul{class: "status-responses-favorites"}
          = render partial: "tweet_stats_users", locals: { tweet: tweet, users: tweet.favoriters, count: favorites_truncate_count }
  - if tweet.retweets_count > 0
    %dl
      %dt
        %a.expand-responses-button{href: "javascript:void(0)", title: "すべて見る", data: { type: "retweets", id: tweet.id }}<
          %span>= tweet.retweets_count
          RTs
      %dd
        %ul{class: "status-responses-retweets"}
          = render partial: "tweet_stats_users", locals: { tweet: tweet, users: tweet.retweeters, count: favorites_truncate_count }
