- title CGI.unescapeHTML(strip_tags(format_tweet_text(@tweet.text))) + " from @" + @user.screen_name
- caption @user.screen_name + "'s Tweet"
- sidebar :users
= render @tweet
- if logged_in?
  .pull-right
    %span.import= link_to "update", import_path(@tweet.id)
