.container
  .row
    .col-sm-3.col-md-offset-1
      .sidebar
        = render_sidebar_content
    .col-sm-9.col-md-7.col-lg-6
      %h1= header
      .statuses
        = render "tweets_template"
        .refresh-box<
          = link_to import_path(@tweet.id), method: :post, title: "Refresh tweet" do
            %span.glyphicon.glyphicon-refresh/
