.users
  %ul.inline
    - @result.each do |user_id, favorites_count, retweets_count|
      - target = User.find(user_id)
      %li
        .avatar
          = link_to user_path(target.screen_name) do
            = image_tag target.profile_image_url, alt: target.screen_name, title: target.name
        .data
          .count
            - if params[:action] == "discovered_by"
              = link_to favorites_count + retweets_count, user_discovered_by_user_path(@user.screen_name, target.screen_name)
            - elsif params[:action] == "discovered_users"
              = link_to favorites_count + retweets_count, user_discovered_by_user_path(target.screen_name, @user.screen_name)
            - else
              - raise Exception
