- title @user.screen_name + " is Discovered by ..."
- caption :title
- sidebar :users
.users
  %ul.list-inline
    - @result.each do |user_id, *counts|
      - user = @cached_users[user_id]
      %li
        .avatar
          = link_to user_path(user.screen_name) do
            = image_tag user.profile_image_url, alt: user.screen_name, title: user.name
        .data
          .count
            = link_to counts.sum, user_discovered_by_user_path(screen_name: @user.screen_name, screen_name_b: user.screen_name)
