.row
  .span2= render :partial => "shared/user_nav"
  .span10
    .items
      .item
        %ul.inline
          - @usermap.each do |user, count|
            %li
              .avatar= image_tag user.profile_image_url, :alt => user.screen_name
              %span= count
