= render :partial => "shared/user_nav", :locals => {:user => @user}
.items
  = render :partial => "shared/tweet", :locals => {:item => @item}
= render :partial => "shared/user_info", :locals => {:user => @user}
