- counts.each_slice(2).to_a.transpose.each do |ns|
  .list-group-col
    - ns.each do |n|
      - if [params[:reactions].to_i, 1].max == n
        = link_to "#{n}~", params, class: "list-group-item active"
      - else
        = link_to "#{n}~", params.merge(reactions: (n == 1 ? nil : n)), class: "list-group-item"
