- title "Settings"
.container
  .row
    .col-sm-3.col-md-offset-1
      .sidebar
        %h1 Settings
    .col-sm-9.col-md-7.col-lg-6
      = form_tag settings_update_path, method: "post" do
        .checkbox
          %input{type: "checkbox", name: "notification_enabled", checked: @account.notification_enabled ? "checked" : nil}
          %label{for: "notification_enabled"}= t("views.settings.enable_notification")
        .form-group
          %input.btn.btn-default{type: "submit"}
          %a.btn.btn-link{href: url_for(only_path: true, controller: "settings", action: "confirm_deactivation")}= t("views.settings.confirm_deactivation")
