[Unit]
Description=aclog delayed_job daemon
After=mysqld.service memcached.service network.target

[Service]
User=aclog
Group=aclog
Environment="RAILS_ENV=production"
WorkingDirectory=/var/webapps/aclog/
ExecStart=/usr/bin/bundle exec bin/delayed_job run

[Install]
WantedBy=multi-user.target
