default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_general_ci
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: aclog_development

test:
  <<: *default
  database: aclog_test

production:
  <<: *default
  database: aclog_production
