default: &default
  base_url:           "http://example.com/" # base url
  consumer:
    key:              "consumer key of collector (register)"
    secret:           "consumer secret"

  collector:
    server_port:      42106
    secret_key:       "secret key to authorize workers"
    nodes_count:      1 # workers count
    cache_size:       10000
    flush_interval:   3

  notification:
    enabled:          false
    consumer:
      key:            "consumer key of notification account"
      secret:         "consumer secret"
    accounts:
      - token:        "access token of notification account"
        secret:       "access token secret"
    favorites:
      - 50
      - 100
      - 250

  tweets:
    count:
      default:        10
      max:            100
    favorites:
      default:        20
      max:            null

  users:
    count:            50

  cache:
    stats:            900 # sec
    friends:          3600

development:
  <<: *default

test:
  <<: *default
  consumer:
    key:              "JVkX2Uy0Qtigsh0GiG5Lw"
    secret:           "vfkPvOkzKUGuZ4xKtFAVvlAKoL3u2grxchuQEBvE"

  collector:
    server_port:      42106
    secret_key:       "secret"
    nodes_count:      1

production:
  <<: *default

