default: &default
  base_url:           "http://localhost:3002/" # base url
  consumer: # consumer key used by collector. Change this.
    key:              "JVkX2Uy0Qtigsh0GiG5Lw"
    secret:           "vfkPvOkzKUGuZ4xKtFAVvlAKoL3u2grxchuQEBvE"

  collector:
    server_port:      42106
    secret_key:       "secret_key" # to authenticate worker nodes
    nodes_count:      1 # worker nodes count
    flush_interval:   3 # INSERT records every N seconds

  notification:
    enabled:          false
    consumer:
      key:            "consumer key of notification account"
      secret:         "consumer secret"
    accounts:
      - token:        "access token of notification account"
        secret:       "access token secret"
    favorites:
      - 2
      - 10
      - 100

  tweets:
    count:
      default:        10
      max:            100
    favorites:
      default:        20
      max:            null

  users:
    count:            50

  cache:
    expires_in:       900
    stats:            900 # sec
    friends:          3600
    memcached:        "127.0.0.1:11211"

development:
  <<: *default

test:
  <<: *default
  consumer:
    key:              "JVkX2Uy0Qtigsh0GiG5Lw"
    secret:           "vfkPvOkzKUGuZ4xKtFAVvlAKoL3u2grxchuQEBvE"

  collector:
    server_port:      42106
    secret_key:       "secret"
    nodes_count:      1

production:
  <<: *default
