%h1= response.status
.lead
  - case @exception
  - when Aclog::Exceptions::TweetNotFound
    ツイートが見つかりませんでした。
  - when Aclog::Exceptions::UserNotFound
    ユーザーが見つかりませんでした。
  - when Aclog::Exceptions::UserNotRegistered
    ユーザーは aclog に登録していません。
  - when Aclog::Exceptions::UserProtected
    ユーザーは非公開です。
  - when Aclog::Exceptions::LoginRequired
    このページの表示にはログインが必要です。
  - when Aclog::Exceptions::OAuthEchoUnauthorized
    OAuth Echo 認証に失敗しました。
  - when ActionController::RoutingError
    このページは存在しません。
  - else
    - if response.status == 404
      Not Found (Unknown):
      = @exception.class
    - else
      Internal Error (Unknown):
      = @exception.class
