%p
  = link_to "Favstar", "http://favstar.fm/"
  というサービスがあります。このサービスはとても便利なのですが、「ShootingStar というクライアントを使った」という理由で私のアカウントが BAN されてしまいました。
  そのため代わりになるように作ったサービスです。
%p
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを借りています。ありがとうございます...！
%p
  The MIT License
  = link_to "GitHub", "https://github.com/rhenium/aclog"
%p
  使用しているもの
  %ul
    %li
      読み込み中アニメーションGIF
      %span= link_to "http://www.ajaxload.info/", "http://www.ajaxload.info/"
%p
  Favstar のパスにアクセスされた場合リダイレクトするようになっているはずです

