- title "about aclog"
- caption :title
- sidebar :i
%p
  aclog は
  = link_to "Twitter", "https://twitter.com"
  に投稿されたツイート、またそれらのツイートへのお気に入り登録・リツイートを収集・集計し見やすい形で表示することができるサービスです。
%p
  %h3 特長
  %ul
    %li Twitter Streaming API を利用しているため、お気に入り登録・リツイート等はリアルタイムに収集・反映されます。
    %li 各ページには RSS フィードを用意しているため、ご利用の RSS リーダーで閲覧することが可能です。
    %li 全機能に対応する JSON 形式での API を提供しているため、Twitter クライアント開発者の方はそのクライアントに aclog を統合させることができます。
    %li
      The MIT License の
      = link_to "オープンソース", "https://github.com/rhenium/aclog"
      のサービスです。
%hr

