%p
  Twitter API の UserStreams というものを使い、登録ユーザーのお気に入り登録・自分のツイートのお気に入り登録され・リツイート・リツイートされをリアルタイムで記録し、集計して表示することができるサービスです。
%p
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを借りています。ありがとうございます...！
%p
  The MIT License
  = link_to "GitHub", "https://github.com/rhenium/aclog"

