- title "about aclog"
- caption :title
- sidebar :i
%p
  aclog は
  = link_to "Twitter", "https://twitter.com"
  に投稿されたツイート、またそれらのツイートのお気に入り登録・リツイートを収集し見やすい形で表示することができるサービスです。
%p
  %h3 特長
  %ul
    %li お気に入り登録・リツイートはすべてリアルタイムに収集されます。Streaming API を利用しています。
    %li ツイートを非公開にしている方でもご利用いただけます。あなたとあなたのフォロワーのみが閲覧可能になります。
    %li RSS に対応しています。ご利用の RSS リーダーで閲覧することも可能です。
    %li JSON 形式での API を提供しています。Twitter クライアントに統合させることもできます。
    %li
      The MIT License の
      = link_to "オープンソース", "https://github.com/rhenium/aclog"
      のサービスです。
%p
  %h3 はじめる
  Twitter 経由で aclog にログインすることによって収集が開始されます。あとは全自動であなたのアクティビティが収集されます。
%hr

