- title "API"
%p
  **ドキュメントは書き直します**
%p
  すべての API は GET です。
%p
  鍵垢のページは OAuth Echo を使います。
  X-Auth-Service-Provider は https://api.twitter.com/1.1/account/verify_credentials.json です
%h4 /api/tweets/show
%dl
  %dd ツイート表示
  %dt URL
  %dd /api/tweets/show.json
  %dt パラメータ
  %dd id=(tweet_id)
%h4 /api/tweets/(best|favorited|retweeted|recent)
%dl
  %dd ユーザーのベストツイート
  %dd 最近3日間のベストツイート
  %dd /api/tweets/best.json
  %dd /api/tweets/recent.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
  %dd count=(1..100)
  %dd 一度に返す上限
  %dd page=(1..)
  %dd ページ番号
%h4 /api/tweets/timeline
%dl
  %dd 最新ツイート
  %dd /api/tweets/timeline.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
  %dd count=(1..100)
  %dd 一度に返す上限
  %dd page=(1..)
  %dd ページ番号
  %dd max_id / since_id
  %dd Twitter API のものと同じです
%h4 /api/tweets/(discoveries|favorites|retweets)
%dl
  %dd ユーザーが反応したツイート
  %dt URL
  %dd /api/tweets/discoveries.json
  %dd /api/tweets/favorites.json
  %dd /api/tweets/retweets.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
  %dd count=(1..100)
  %dd 一度に返す上限
  %dd page=(1..)
  %dd ページ番号
  %dd max_id / since_id
  %dd Twitter API のものと同じです
%h4 /api/tweets/discovered_by
%dl
  %dd B が反応した A の最新ツイート
  %dt URL
  %dd /api/tweets/discovered_by.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
  %dd screen_name_b=(screen_name)
  %dd user_id_b=(user_id)
  %dd
    %strong どちらか必須
  %dd count=(1..100)
  %dd 一度に返す上限
  %dd page=(1..)
  %dd ページ番号
  %dd max_id / since_id
  %dd Twitter API のものと同じです
%h4 /api/users/stats
%dl
  %dd ユーザーの統計
  %dt URL
  %dd /api/users/stats.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
%h4 /api/users/discovered_by
%h4 /api/users/discovered_users
%dl
  %dd ユーザーがふぁぼ・RTしたユーザー・ユーザーをふぁぼ・RTしたユーザーを多い順に50人まで返します
  %dt URL
  %dd /api/users/discovered_by.json
  %dd /api/users/discovered_users.json
  %dt パラメータ
  %dd screen_name=(screen_name)
  %dd user_id=(user_id)
  %dd
    %strong どちらか必須
