- title "API"
- caption :title
- sidebar :i
%p
  aclog では JSON 形式の API を提供しています。
%p
  = link_to "API ドキュメント", api_docs_path
%p
  非公開アカウントのデータを取得するために OAuth Echo を使う場合はこれを使用してください。<br />
  X-Auth-Service-Provider: https://api.twitter.com/1.1/account/verify_credentials.json


