- title "Twitter 分析サービス"
.front-hero
  .container
    %p<
      %img{alt: "aclog", src: image_path("logo.png"), height: 200, width: 200}
    %h1
      aclog
      - if Rails.env.development?
        (dev)
    %p<
      %a.twitter-share-button{href: "https://twitter.com/share", data: { count: "none", lang: "ja" }} ツイート
.front-feature
  .container
    .row
      .col-sm-6.col-sm-push-6<
        %img{alt: "Collect activities automatically", src: image_path("feature_1.png"), height: 200, width: 400}
      .col-sm-6.col-sm-pull-6
        %h1 Collect Activities
        %p aclog に一度サインアップするだけで、ツイート、お気に入り、リツイートをリアルタイムで自動収集。
.front-feature-right
  .container
    .row
      .col-sm-6<
        %img{alt: "Discover topics easily", src: image_path("feature_2.png"), height: 200, width: 400}
      .col-sm-6
        %h1 Discover Topics
        %p aclog の見やすい UI で、話題のツイートを発見できます。自分のツイートがどれくらい話題になっているかも一目瞭然。
.front-feature
  .container
    .row
      .col-sm-6.col-sm-push-6<
        %img{alt: "Protected account is OK", src: image_path("feature_3.png"), height: 200, width: 400}
      .col-sm-6.col-sm-pull-6
        %h1 For Protected Users
        %p ツイートを非公開にしている方でもご利用いただけます。ツイートはあなたとあなたのフォロワーにしか見えないので安心です。
.front-feature-misc
  .container
    .row
      .col-sm-3
        %h1 Notification
        %p 一定数のふぁぼ・RT が集まると、通知アカウントがリプライで通知します。
      .col-sm-3
        %h1 Atom Feeds
        %p Atom フィード配信に対応。普段のニュースリーダーで見ることもできます。
      .col-sm-3
        %h1 Aclog API
        %p
          JSON API を用意。Aclog の全機能が使えます。
          %a{href: about_api_path}>< API ドキュメント
          をご覧下さい。
      .col-sm-3
        %h1 Free Software
        %p Aclog のソースコードは MIT License でライセンスされています。完全なソースコードは
        %a{href: "https://github.com/rhenium/aclog"} GitHub
        から入手することができます。
.front-footer
  %p
    %a.aclogicon.aclogicon-twitter{href: "https://twitter.com/aclog_service"}
    %a.aclogicon.aclogicon-github{href: "https://github.com/rhenium/aclog"}
  %p
    = link_to "Home", root_path
    = link_to "Status", status_path
    = link_to "API", about_api_path
