- title "aclog"
.index.text-center
  %h1
    aclog
    - if Rails.env.development?
      %span.text-error (dev)
  %p
    = link_to "Tweet", "https://twitter.com/share", class: "twitter-share-button", data: {text: "aclog - Twitter ふぁぼられ収集サービス", count: "none", url: "http://aclog.koba789.com/"}

