- title "Status"
.container#status
  %h1 Status
  %h2 Worker Status
  .loading-box{data: {"v-if" => "loading"}}
    %img.loading-image{src: image_path("loading.gif")}
  .alert.alert-danger{data: {"v-if" => "error && !loading"}}
    %strong {{json.error}}
  %table.table{data: {"v-if" => "!error && !loading"}}
    %thead
      %tr
        %th Group
        %th Worker ID
        %th Status
        %th Uptime
    %tbody
      %template{data: {"v-repeat" => "active_nodes"}}
        %tr{data: {"v-if" => "nodes[$value]"}}
          %td {{$index}}
          %td \#{{$value}}
          %td Running
          %td {{uptime($index)}}
        %tr.danger{data: {"v-if" => "!nodes[$value]"}}
          %td {{$index}}
          %td -
          %td Down
          %td -
      %template{data: {"v-repeat" => "inactive_nodes"}}
        %tr
          %td -
          %td \#{{$value}}
          %td Idle
          %td -
  .refresh-box<
    %a{href: "#", title: "Refresh", data: {"v-on" => "click: reload"}}
      %span.glyphicon.glyphicon-refresh/
