/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap"

body
  font-family: "Ubuntu", "Helvetica Neue", Arial, sans-serif
a
  text-decoration: none
  color: #3b5998
h1
  font-size: 32px
body > .container
  margin-bottom: 30px
