// favoriters count (xxx FAVS / xxx RTS)
.status-responses dt {
    width: 40px;
}

// favoriters list
.status-responses dd {
    min-height: 44px;
}

// favoriter's icon
.status-responses dd li a {
    display: block;
    width: 44px;
    height: 44px;
}

@media(min-width: 768px) {
    .status-responses dd {
        min-height: 42px;
    }

    .status-responses dd li a {
        width: 42px;
        height: 42px;
    }
}

// reload button on tweets#show
p.refresh {
    margin: 30px 0;
    text-align: center;
}
