/* ================ Status ================ */
@import "bootstrap/mixins";

.status ul { // action buttons, favoriter list
    margin: 0;
    padding: 0;
    list-style: none;
}

.status {
    margin-top: 0;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    transition: all ease-out 0.4s;

    &.loaded {
        margin-top: 100px;
        opacity: .2;
    }
}

.status-tweet {
    padding: 15px 15px 10px 15px;
    position: relative;
}

.status-user {
    display: block;
    position: absolute;
    width: 48px;

    img {
        width: 48px;
        height: 48px;
    }
}

.status-content {
    @media (min-width: 768px) {
        margin-left: 68px;
    }

    a img {
        opacity: 0.3;
    }

    a:hover img {
        opacity: 0.7;
    }
}

.status-head {
    margin-left: 68px;

    @media (min-width: 768px) {
        margin-left: 0;
    }
}

.status-head,
.status-foot {
    @include clearfix;

    * {
        color: #999;
    }

    a * {
        color: inherit;
    }

    a:hover {
        color: #333;
        text-decoration: none;
    }
}

.status-head .user {
    @media (min-width: 768px) {
        float: left;
    }
}

.status-head .time {
    display: block;
    margin-top: 2px;
    font-size: 12px;

    @media (min-width: 768px) {
        float: right;
        margin-top: 0;
    }

    .source {
        display: inline-block;
        margin-left: 5px;
        font-size: 20px;
        vertical-align: bottom;
    }
}

.status-text {
    margin: 15px 0;
    font-size: 18px;
    word-wrap: break-word;
    color: #333;

    &.protected {
        color: #999;
    }
}

.status-foot .source {
    margin: 5px 0;
    float: left;
    font-size: 12px;
}

.status-foot ul {
    float: right;

    li {
        display: block;
        float: left;

        a {
            margin-right: 5px;
            padding: 5px;
            font-size: 20px;
        }

        a:last-child {
            margin-right: 0;
        }
    }
}

.status-responses {
    clear: both;
    padding: 10px 15px 15px 15px;
    border-top: 1px solid #ddd;

    dl {
        position: relative;
        margin: 10px 0 0 0;
        clear: both;
        min-height: 44px;

        @media (min-width: 768px) {
            min-height: 42px;
        }

        @media (min-width: 1200px) {
            min-height: 44px;
        }
    }

    dt {
        position: absolute;
        top: 5px;
        width: 53px; // 68px(dd's margin-left) - 15px(.status-responses's padding-left)
        font-size: 10px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        text-align: right;
        color: #777;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                color: #333;
            }
        }

        span {
            display: block;
            font-size: 16px;
            font-weight: bold;
        }
    }

    dd {
        margin-left: 68px;
    }

    dd.timeline {
        max-height: 88px;
        overflow: hidden;

        @media (min-width: 768px) {
            max-height: none;
        }
    }

    dd li {
        float: left;
        display: block;
    }

    dd img {
        width: 44px;
        height: 44px;

        @media (min-width: 768px) {
            width: 42px;
            height: 42px;
        }

        @media (min-width: 1200px) {
            width: 44px;
            height: 44px;
        }
    }
}

.status.status-reply {
    background-color: transparent;
    border: 1px solid #cecac7;
    -webkit-box-shadow: none;
    box-shadow: none;

    .status-text {
        font-size: 14px;
    }
}
