.chart {
    width: 100%;
    display: flex;
    margin: 30px 0;

    .chart-item {
        margin-top: 100px;
        height: 50px;

        &:last-child {
            flex-grow: 1;
        }

        > span {
            display: block;
            line-height: 50px;
            width: 100%;
            text-align: center;
        }

        .popout {
            display: inline-block;
            white-space: nowrap;
            position: relative;
            top: -100px;
            padding: 5px;
            text-align: center;
            background-color: #eeeeee;
            border: 1px solid #999999;
            border-radius: 3px;
            z-index: 1;

            .count span {
                font-size: larger;
                font-weight: bold;
            }
        }

        &:hover {
            .popout {
                z-index: 2;
            }
        }
    }
}
ul.user-list {
    padding: 15px 0;
    padding-left: 0;
    list-style: none;

    li {
        display: inline-block;
    }

    li a {
        display: block;
        padding: 10px 20px;
        color: #333;
        font-size: 18px;
        text-decoration: none;
        text-align: right;
    }

    li a:hover {
        background-color: #cecac7;
    }

    li a img {
        width: 48px;
        height: 48px;
        margin-bottom: 5px;
    }

    li a span {
        display: block;
        margin-bottom: 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
}
