- title "Optout"
.container
  .row
    .col-sm-3.col-md-offset-1
      .sidebar
        %h1 Optout
    .col-sm-9.col-md-7.col-lg-6
      %p オプトアウト設定が完了しました。
      %p
        念のため、
        = link_to "https://twitter.com/settings/applications", "https://twitter.com/settings/applications"
        から "aclog collector" のアクセス許可を取り消してください。
