defaults: &defaults
  secret_key:     "secret key"
development:
  <<: *defaults
  receiver_host:  localhost
  receiver_port:  42106
production:
  <<: *defaults
  receiver_host:  localhost
  receiver_port:  42106

