defaults: &defaults
  consumer:
    - key:        "consumer key for collector"
      secret:     "consumer secret"
    - key:        "second consumer key"
      secret:     "consumer secret"
  secret_key:     "secret key"
development:
  <<: *defaults
  receiver_host:  localhost
  receiver_port:  42106
production:
  <<: *defaults
  receiver_host:  localhost
  receiver_port:  42106

